In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from dataclasses import asdict
from src import data_utils as d
from src import file_utils as f
from src.params import (
    CHARACTERISTICS_CSV_DIR
)
from src.constants import CharacteristicsOriginalColumns, CCIS_COLUMN_RENAME

from glob import glob
import os
import uuid
from collections import defaultdict

In [7]:
df = d.load_csv("../data/raw/ccis_original_csv/ccis_original_mar22.csv", read_as_str=True)

Reading ../data/raw/ks4_original_csv/ks4_original_sep20.csv
Reading all data as str

In [8]:
df.columns

Index(['Candidate Number', 'Forvus index number', 'Surname', 'Forename',
       'Gender', 'Date of birth', 'AGE', 'Pupil Inclusion Status Flag',
       'Pupil included in progress 8 calculations', 'DfE Establishment Number',
       'School URN', 'UPN', 'SEN',
       'Has the pupil been eligible for FSM in the last 6 years?',
       'Is the pupil looked after?', 'Has the pupil been adopted from care?',
       'Is the pupil disadvantaged?', 'EAL Group', 'KS2 Prior Band',
       'Student's ethnicity', 'Deprivation indicator - IDACI score',
       'Did the pupil join within the last 2 yrs?', 'English Bacc?',
       'English & maths GCSEs A*-C?', 'Entries', 'GCSE Entries',
       'Entry English EBacc', 'Entry Maths EBacc', 'Entry Science EBacc',
       'Entry Humanities EBacc', 'Entry Language EBacc', 'Entry ALL EBacc',
       'Achieved English EBacc', 'Achieved Maths EBacc',
       'Achieved Science EBacc', 'Achieved Humanities EBacc',
       'Achieved Language EBacc', 'Entry triple science',
       'Entry multiple languages', 'KS2 English level (finely graded)',
       'KS2 Mathematics level (finely graded)', 'KS2 English TA level',
       'KS2 Mathematics TA level', 'KS2 English PS', 'KS2 Maths PS',
       'Prior attainment score in English and mathematics',
       'Score achieved in English', 'Score achieved in mathematics',
       'Score achieved in 1st EBacc slot', 'Score achieved in 2nd EBacc slot',
       'Score achieved in 3rd EBacc slot', 'Score achieved in 1st open slot',
       'Score achieved in 2nd open slot', 'Score achieved in 3rd open slot',
       'Attainment 8 score', 'EBacc slots filled', 'Open slots filled',
       'Pupil progress 8 score', 'Progress 8 score for English',
       'Progress 8 score for mathematics', 'Score achieved in Ebacc slots',
       'Progress 8 score for Ebacc slots', 'Score achieved in open slots',
       'Progress 8 score for open slots',
       'Total score achieved in open slots - GCSEs only',
       'Total score achieved in open slots - non-GCSEs only',
       'Entered all three core science pathway subjects',
       'Science EBacc PS (VA)', 'Humanities EBacc PS (VA)',
       'Language EBacc PS (VA)', 'KS2-4 predicted PS for 'EBacc Science' VA',
       ''EBacc Science' VA score',
       'KS2-4 predicted PS for 'EBacc Humanities' VA',
       ''EBacc Humanities' VA score',
       'KS2-4 predicted PS for 'EBacc Language' VA',
       ''EBacc Language' VA score', 'Pupil level Maths pathway flag',
       'Pupil level English pathway flag', 'Pupil level Science pathway flag',
       'Maths exclude previous school', 'English exclude previous school',
       'Science exclude previous school'],
      dtype='object')

In [4]:
reverse_rename = {v: k for k, v in CCIS_COLUMN_RENAME.items() if v in asdict(CharacteristicsOriginalColumns).values()}
reverse_rename[CharacteristicsOriginalColumns.level_of_need_code] = "LevelOfNeedCode"
reverse_rename.pop(CharacteristicsOriginalColumns.date_of_birth)

'DOB'

In [5]:
characteristics_df = df[reverse_rename.values()].head(5000)
characteristics_df

,AddressLine1,AddressLine2,AddressLine3,AddressLine4,CharacteristicCode,County,EstablishmentNumber,Ethnicity,FamilyName,Gender,GivenName,LevelOfNeedCode,MiddleName,Postcode,SENDFlag,SENSupportFlag,Town,UniquePupilNumber,moth/year of birth
0,,,,,,,794200615,WBRI,,F,,3,,,Y,Y,,6584a44d-3aef-464f-b646-b4cf960b1a10,07/2005
1,,,,,,,906412125,NOBT,,W,,3,,,N,N,,143d2975-238a-4687-b541-85ec4930fc6b,02/2005
2,,,,,,,440395066,BAFR,,M,,3,,,N,N,,f84cdf94-ff3d-4b8f-ae14-46992bfd8b03,03/2004
3,,,,,,,647516298,AIND,,M,,3,,,N,Y,,,10/2005
4,,,,,,,599529752,WOTH,,M,,3,,,N,Y,,3e9787e4-d0c2-41c6-9cd7-e1f7ae919f4b,02/2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,,,,,,,828938867,NOBT,,F,,3,,,N,N,,e50f2c20-6a52-4262-b7d9-e33cccd489d2,11/2005
4996,,,,,,,804322969,WBRI,,M,,3,,,N,N,,d7612f30-ff93-4e98-b017-8fd0f6570dd2,12/2005
4997,,,,,,,855450370,MWBC,,F,,3,,,N,Y,,ebd7ff56-a835-42c2-8b29-952543ec8762,04/2005
4998,,,,,,,843261414,WBRI,,M,,3,,,N,N,,abbe83d8-23dd-4cc0-aef6-7416cc0fb936,11/2004
4999,,,,,,,874324099,NOBT,,M,,3,,,N,N,,fb35965d-9f25-4dd7-ba3a-537ce290a757,07/2004

In [6]:
characteristics_df.to_csv(os.path.join(CHARACTERISTICS_CSV_DIR, "characteristics_original_mar22.csv"), index=False)